In [63]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [64]:
df = pd.read_csv('winequality_red.csv', sep=';')

In [65]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [66]:
def ranker(df):
    df['alc content_rank'] = np.arange(len(df)) + 1
    return df

In [67]:
df.sort_values('alcohol', ascending=False, inplace=True)

In [72]:
df3 = pd.DataFrame({'X' : ['A', 'B', 'A', 'B'], 'Y' : [1, 4, 3, 2]})

In [73]:
df3

   X  Y
0  A  1
1  B  4
2  A  3
3  B  2

In [71]:
df3.groupby(['X']).sum()

   Y
X
A  4
B  6